body{
    background-color:rgb(189, 220, 220) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgb(172, 234, 239);
    padding: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-left: 340px;
    /* text-align: center; */
    width: 40%;
    
    
}
.container h1{
    text-align: center;
}
.container label {
    padding: 5px;
    margin: 5px;
}
.container input{
    width: 90%;
    padding: 10px;  
     margin-bottom: 10px;
   border-radius: 7px;
    border: none;
    align-items: center;
}
.container button{
    background-color: rgb(17, 21, 232);
    color: white;
    width: 20%;
    padding: 10px;
    margin-left: 40%;
    border-radius: 10px;
    border: none;
   align-items: center;
}